/* Write your CSS code here. */
.app-container {
  background-image: linear-gradient(to right, #ffeeee, #ffc0bb);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 70%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}
.heading {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 700;
  color: #0f172a;
  text-align: center;
}
.emojis-list-container {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  margin-top: 45px;
}
.list-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.emoji {
  width: 40px;
  height: 40px;
}
.emoji-title {
  font-size: 12px;
  font-weight: 800;
  color: #1e293b;
  font-family: 'Roboto';
}
.thankyou-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thankyou-heading {
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 600;
  color: #0f172a;
}
.thankyou-message {
  color: #1e293b;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 400;
  text-align: center;
}
@media (min-width: 768px) {
  .container {
    padding: 40px;
  }
  .heading {
    font-size: 35px;
  }
  .emoji {
    width: 80px;
    height: 80px;
  }
}
